body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #B4D4FF;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}


img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    margin: 10px 0; 
    transition: transform 0.3s, background-color 0.3s; 
    width: calc(48% - 10px);
    transform: translateY(0); 
}

img:hover{
    transform: translateY(-5px); 
}




.container {
    background-color: #e0e6f0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    margin: auto;
    transition: transform 0.3s, background-color 0.3s; 
    width: calc(48% - 10px);
    transform: translateY(0); 
    
}

.container:hover{
    transform: translateY(-5px); 
}

h1, p {
    font-family: Arial, Helvetica, sans-serif;
}




button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    background-color: #176B87;
    color: #ffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: transform 0.3s, background-color 0.3s; 
    width: calc(48% - 10px);
    transform: translateY(0); 
}

button:hover {
    background-color: #0f4152;
    transform: translateY(-5px); 
}




.add-subject-button {
    background-color: #176B87;

}

.calculate-gpa-button {
    background-color: #176B87;
}

.cumulative-gpa-button {
    background-color: #4208ad;
}

.remove-all-button {
    background-color: #db5e55;
    width: calc(98.8% - 20px);
}




.add-subject-button:hover {
    background-color: #0f4152;
}

.calculate-gpa-button:hover {
    background-color: #0f4152;
}

.cumulative-gpa-button:hover {
    background-color: rgb(42, 17, 104);
}

.remove-all-button:hover {
    background-color: #5a2c2c;
}

button:hover {
    background-color: #274d29;
}





/* Input Styles */
input {
    width: calc(48% - 10px);
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s, background-color 0.3s; 
    width: calc(48% - 10px);
    transform: translateY(0); 
}

#inputs {
    text-align: left;
    margin-bottom: 30px;
}

input:hover{
    transform: translateY(-5px); 
}

.subject {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.subject input, .subject button {
    box-sizing: border-box;
    width: calc(48% - 10px);
    margin: 5px;
}

.subject button {
    background-color: #db5e55;
    transition: background-color 0.3s;
}

.subject button:hover {
    background-color: #5a2c2c;
}




#result {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%; 
}




@media only screen and (max-width: 600px) {
    button, input {
        width: 100%;
    }
}




footer {
    margin-top: 20px;
    color: #888;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s; 
    width: calc(48% - 10px);
    transform: translateY(0); 
}

footer:hover{
    transform: translateY(-5px); 
}



.author {
    margin-bottom: 10px;
}




.social-icons {
    display: flex;
    
}




.footer-icon {
    margin: 0 10px;
    width: 30px;
    height: 30px;
}

.subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .grade-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 1rem;
    color: #888;
    margin-bottom: 30px;
  }
  
